
@{
    ViewBag.Title = "Home";
}


<div>
    <h2>Welcome</h2>


    <p>
        We here at Johan AB belive that ducks are the future and that is why we have chosen to play the Duck game.<br />
        Duck game is one of the most intense, hardcore duck based game on the market right now Click the link down below to download it now and join the action.
    </p>
    <a href="https://store.steampowered.com/app/312530/Duck_Game/"><b>DUCK GAME</b></a>
</div>